/**
 * Index page specific styles for the portfolio website
 */

/* General Styles ----------------------------------------------------------- */

.hero-section {
    height: auto;
}

.hero-banner {
    background-color: transparent;
}

#particles-target {
    position: absolute;
    width: 100%;
    height: calc(100% + 120px);
    top: 0px;
    left: 0px;
    z-index: -1;
    background-color: #1e87f0;
}

.placeholder-banner {
    height: 700px;
}

.banner-text {
    z-index: 100;
}

.video-banner {
    width: 100%;
    height: fit-content;
    background-color: black;
    z-index: -1000;
}

.video-container {
    position:relative;
    padding-bottom:56.25%;
    height: 0;
    overflow:hidden;
    width: 100vw;
}

.video-container > iframe {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section-divider {
    height: 280px;
    background-color: lightgrey;
    margin: 0px;
}

.mini-divider{
    height: fit-content;
    background-color: white;
}

.section-anchor,
.section-anchor-contact {
    height: 0px;
    width: 0px;
    position: relative;
    top: 240px;
}

.section-anchor-contact {
    top: -128px;
    height: 0px;
}

.section-panel {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 24px;
    padding-right: 24px;

    min-height: fit-content;

    background: rgb(255,255,255);
    // background: linear-gradient(0deg, rgba(0,0,0,0.125) 0%, rgba(255,255,255,1) 100%);

    @media screen and (max-width: 640px) {
        padding-top: 12px;
    }

    @media screen and (min-width: 640px) and (max-width: 960px) {
        padding-top: 24px;
    }
}

.section-divider-contact {
    // Disable the gradient from the base .section class
    background: unset;

    background-color: #5bbae6;
    height: auto;
    margin-bottom: none;
    min-height: unset;
}

.section-small {
    min-height: unset;
    height: fit-content;
}

.section-contact {
    // Disable the gradient from the base .section class
    background: unset;
    background-color: #26a4df;
}

.uk-card {
    border-radius: 8px !important;
    overflow: hidden;
    min-height: 300px;
    // For every other browser, don't set one
    transform: unset;
    // For safari + webkit browsers, disable vanilla tilt effect to address rendering bug
    -webkit-transform: translateZ(0px) !important;
}

.sticky-nav-top {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 4000;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.uk-offcanvas {
    z-index: 5000;
}

.uk-offcanvas-page {
    overflow-x: auto;
}

.uk-offcanvas-container {
    position: unset;
}

.site-logo {
    width: 48px;
    height: 48px;
}

.uk-navbar-nav > li > a {
    font-weight: bold;
}

footer {
    padding: 24px;
}

.uk-modal {
    z-index: 5000;
}

.uk-lightbox {
    z-index: 7000;
}

.uk-tooltip {
    z-index: 6000;
}

.uk-modal-dialog {
    border-radius: 12px;
}

.uk-modal-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .uk-modal-close-full {
        border-radius: 12px;
    }
}

.uk-modal-header > .uk-modal-title {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

// Convert Black SVG to White using Invert and Constrast Filters
.contact-icon {
    // Safari
    -webkit-filter: invert(100%) contrast(500%);
    // Everything Else
    filter: invert(100%) contrast(500%);
    // Internet Explorer
    filter: progid:DXImageTransform.Microsoft.BasicImage(invert=1);
}

.contact-text {
    color: white;
}

.convert-to-bw {
    // Safari
    -webkit-filter: grayscale(100%) contrast(0%) brightness(0%);
    // Everything Else
    filter: grayscale(100%) contrast(0%) brightness(0%);
}

.img-smaller {
    height: 120px;
    width: auto;
    margin-top: 30px;
}

.img-tiny {
    height: 64px;
    width: auto;
}

.img-nano {
    height: 48px;
    width: auto;
}

/* Project Specific Styles ------------------------------------------------- */

.uk-iconnav {
    li > img {
        height: 48px;
        width: auto;
    }
}

/* Divider Specific Styles ------------------------------------------------- */

.divider-text {
    color: white;
    font-weight: bold;
}

.section-divider-projects {
    padding-top: 0px;
    margin-top: 0px;
    background-image: url('/src/img/dividers/projects.jpg');
}

.section-divider-others {
    background-image: url('/src/img/dividers/others_v2.jpg');
}

.section-divider-feedback {
    background-image: url('/src/img/dividers/feedback_v2.jpg');
}

.section-divider-experience {
    background-image: url('/src/img/dividers/experience_v2.jpg');
}

.section-divider-about {
    background-image: url('/src/img/dividers/about_v2.jpg');
}

/* Project Specific Styles ------------------------------------------------- */
.project-main {
    min-height: 500px;
    cursor: pointer;
}

.project-footer {
    cursor: pointer;
    background-color: #26a4df;
    border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important;

    transition: background-color 1s;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.project-footer:active {
    background-color: white;
    transition: all 0.25s;
    
}

.project-footer > h3 {
    color: white !important;
}

/* Project Specific Images ------------------------------------------------- */

.project-background-a {
    background-image: url('/src/img/projects/curtin_gradshow_general/placeholder.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 175%;
    transition: background-size 0.25s;
}

.project-background-a:hover {
    background-size: 200%;
    transition: background-size 1s;
}

.project-background-b {
    background-image: url('/src/img/projects/sargent_tours/tours_thumbnail.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 125%;
    transition: background-size 0.25s;
}

.project-background-b:hover {
    background-size: 140%;
    transition: background-size 1s;
}


.project-background-c {
    background-image: url('/src/img/projects/aerius_desktop/placeholder.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 175%;
    transition: background-size 0.25s;
}

.project-background-c:hover {
    background-size: 200%;
    transition: background-size 1s;
}

.project-background-d {
    background-image: url('/src/img/projects/restaurant/restaurant_thumbnail.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 120%;
    background-position-y: top;
    transition: background-size 0.25s;
}

.project-background-d:hover {
    background-size: 135%;
    transition: background-size 1s;
}

.project-background-e {
    background-image: url('/src/img/projects/curtin_enrolments/placeholder.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 170%;
    transition: background-size 0.25s;
}

.project-background-e:hover {
    background-size: 180%;
    transition: background-size 1s;
}

.project-background-f {
    background-image: url('/src/img/projects/personal_showreel/placeholder.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 215%;
    transition: background-size 0.25s;
}

.project-background-f:hover {
    background-size: 230%;
    transition: background-size 1s;
}

/* Other Projects Specific Images ------------------------------------------ */

.other-project-background-a {
    background-image: url('/src/img/projects/curtin_gradshow_photos/photos_thumbnail_v2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150%;
    transition: background-size 0.25s;
}

.other-project-background-a:hover {
    background-size: 175%;
    transition: background-size 1s;
}

.other-project-background-b {
    background-image: url('/src/img/projects/photo_assignment/assignment_thumbnail_v2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150%;
    transition: background-size 0.25s;
}

.other-project-background-b:hover {
    background-size: 175%;
    transition: background-size 1s;
}

.other-project-background-c {
    background-image: url('/src/img/projects/curtin_beyond/beyond_thumbnail_v2.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 125%;
    transition: background-size 0.25s;
}

.other-project-background-c:hover {
    background-size: 150%;
    transition: background-size 1s;
}

.other-project-background-d {
    background-image: url('/src/img/projects/sfx/sfx_thumbnail.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 150%;
    transition: background-size 0.25s;
}

.other-project-background-d:hover {
    background-size: 175%;
    transition: background-size 1s;
}

.other-project-background-e {
    background-image: url('/src/img/projects/evd/evd_thumbnail.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200%;
    transition: background-size 0.25s;
}

.other-project-background-e:hover {
    background-size: 250%;
    transition: background-size 1s;
}

.other-project-background-f {
    background-image: url('/src/img/projects/placeholder_800x800.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 200%;
    transition: background-size 0.25s;
}

.other-project-background-f:hover {
    background-size: 250%;
    transition: background-size 1s;
}

/* Wide Desktop Specific Styles -------------------------------------------- */

// Ultra wide
@media screen and (min-width: 2560px) {

    // Ensures the project image is still properly displayed on ultra wide
    .project-background-b,
    .project-background-d,
    .other-project-background-b,
    .other-project-background-d,
    .other-project-background-e {
        background-position: center center !important;
    }

    .section-panel {
        padding-left: 21vw !important;
        padding-right: 21vw !important;
    }

    .uk-modal-dialog {
        max-width: 70vw !important;
    }

}

@media screen and (min-width: 1800px ) {
    .uk-modal-dialog {
        max-width: 80vw !important;
    }
}

// aka XL (1600px) in UIKit
@media screen and (min-width: 1600px) {
    .project-main {
        min-height: 600px;
    }

    .other-project {
        min-height: 400px;
    }

    .section-panel {
        padding-left: 13vw;
        padding-right: 13vw;
    }
}

/* Desktop Specific Styles ------------------------------------------------- */

// Large is 1200px in UIKit
@media screen and (min-width: 1200px) {

}

/* Tablet Specific Styles -------------------------------------------------- */

// aka Between medium and large in UIKit
@media screen and (min-width: 960px) and (max-width: 1200px) {
    .project-background-b,
    .other-project-background-a  {
        background-size: 175%;
    }

    .project-background-b:hover,
    .other-project-background-a  {
        background-size: 200%;
        transition: background-size 1s;
    }
}

/* Mobile Specific Styles -------------------------------------------------- */

// aka Small in UIKit
@media screen and (max-width: 640px) {
    .project-background-a,
    .project-background-b,
    .project-background-c,
    .project-background-d,
    .project-background-e,
    .project-background-f,
    .other-project-background-a,
    .other-project-background-b,
    .other-project-background-c,
    .other-project-background-d,
    .other-project-background-e,
    .other-project-background-f {
        background-size: cover !important;
        background-position: center center;
    }

    .project-background-a:hover,
    .project-background-b:hover,
    .project-background-c:hover,
    .project-background-d:hover,
    .project-background-e:hover,
    .project-background-f:hover,
    .other-project-background-a:hover,
    .other-project-background-b:hover,
    .other-project-background-c:hover,
    .other-project-background-d:hover,
    .other-project-background-e:hover,
    .other-project-background-f:hover {
        background-size: cover !important;
    }

}

/* Project Specific Styles ------------------------------------------------- */
