<div id="project-coming-soon" class="uk-padding-large uk-height-large">
    <!-- Main Body Content -->
    <section class="uk-section">
        <div class="uk-container">
            <article class="uk-article uk-position-center uk-text-center">
                <img src="../logo.png" alt="" class="uk-height-small" uk-img>
                <h2 class="uk-heading">Coming Soon</h2>
                <p>Project Information Coming Soon!</p>
                <p class="uk-article-meta">Watch this space!</p>
            </article>
        </div>
    </section>
</div>