<div id="project-curtin-gradshow-photography">
    <!-- Main Body Content -->
    <section class="uk-section">
        <div class="uk-container uk-container-expand">
            <!-- Header / Summary Section -->
            <article class="uk-article">
                <div class="uk-grid-row-large uk-flex-middle" uk-grid>
                    <!-- Mobile specific project image -->
                    <div class="uk-hidden@m">
                        <img src="../img/projects/curtin_gradshow_photos/photos_thumbnail_v2.jpg" alt="Curtin Grad Show Photography Team Group Photo" uk-img>
                    </div>
                    <!-- Project Text -->
                    <div class="uk-width-1-2@m uk-width-2-5@l uk-animation-slide-left-medium">
                        <!-- Project Description -->
                        <h2 class="uk-heading">Grad Show Photography</h2>
                        <p class="uk-article-meta">About</p>
                        <p class="uk-article-lead uk-margin-medium-bottom">
                            Going beyond the Curtin Grad Show Website. I was also a part of the communications and logistics committe. In this committee, my focus was on the student headshot photography.
                        </p>
                        <p class="uk-article-lead uk-margin-medium-bottom">To give industry and other stakeholders better insight into a student, I successfully pushed the idea to have a fun and professional photo per student, allowing these people to see who these students are, behind the scenes.</p>
                        <p class="uk-article-lead uk-margin-medium-bottom">After that, I assisted in facilitating the photo shoots by setting up tethered shooting, taking the photos, ensuring multiple backups of photos were made as well as vetting the photos for quality assurance.</p>
                    </div>
                    <!-- Project Image (for everything else) -->
                    <div
                        class="uk-visible@m uk-width-1-2@m uk-width-3-5@l uk-animation-slide-right-medium">
                        <img src="../img/projects/curtin_gradshow_photos/photos_thumbnail_v2.jpg"
                            alt="Curtin Grad Show Photography Team Group Photo" class="uk-card" uk-img>
                    </div>
                </div>
            </article>

            <hr class="uk-divider-icon">

            <!-- Section 2 -->
            <article class="uk-article uk-margin-medium-top uk-margin-large-bottom">
                <h2 class="uk-heading-bullet">Sample Photos</h2>
                <div class="uk-child-width-expands@s uk-flex-middle" uk-grid>
                    <!-- Photos -->
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img src="../img/projects/curtin_gradshow_photos/001.jpg" alt="Professional Photo Sample" uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img src="../img/projects/curtin_gradshow_photos/002.jpg" alt="Fun Photo Sample" uk-cover>
                        </div>
                    </div>

                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img src="../img/projects/curtin_gradshow_photos/003.jpg" alt="Professional Photo Sample" uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img src="../img/projects/curtin_gradshow_photos/004.jpg" alt="Fun Photo Sample" uk-cover>
                        </div>
                    </div>

                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/005.jpg" alt="Professional Photo Sample" uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/006.jpg" alt="Fun Photo Sample" uk-cover>
                        </div>
                    </div>

                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/007.jpg" alt="Professional Photo Sample"
                                uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/008.jpg" alt="Fun Photo Sample" uk-cover>
                        </div>
                    </div>
                </div>
            </article>

            <hr class="uk-divider-icon">

            <!-- Behind the Scenes Section -->
            <article class="uk-article">
                <div class="uk-grid-row-large uk-flex-middle" uk-grid>
                    <div class="uk-width-1-2@m uk-width-2-5@l uk-animation-slide-left-medium">
                        <h2 class="uk-heading-bullet">Behind the Scenes</h2>
                        <p class="uk-article-lead uk-margin-medium-bottom">
                            As an extra contribution to the communications committee, I also took some of the behind the scenes photographs, capturing fun moments as we progressed with the graduation show project.
                        </p>
                    </div>
                    <div class="uk-width-1-2@m uk-width-3-5@l uk-article-slide-right-medium">
                        <img loading="lazy" src="../img/projects/curtin_gradshow_photos/b001.jpg" alt="Behind the Scenes Photo" class="uk-card" uk-img>
                    </div>
                </div>
                <div class="uk-child-width-expands@s uk-flex-middle" uk-grid>
                    <!-- Photos -->
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/b002.jpg" alt="Behind the scenes photos" uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/b003.jpg" alt="Behind the scenes photos" uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/b004.jpg" alt="Behind the scenes photos" uk-cover>
                        </div>
                    </div>
                    <div class="uk-width-1-2@s uk-width-1-4@l">
                        <div class="uk-card uk-card-default">
                            <img loading="lazy" src="../img/projects/curtin_gradshow_photos/b005.jpg" alt="Behind the scenes photos" uk-cover>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>