<div id="project-curtin-gradshow-primary">
    <!-- Main Body Content -->
    <section class="uk-section">
        <div class="uk-container uk-container-expand">

            <!-- Header / Summary Section -->
            <article class="uk-article">
                <div class="uk-grid-row-large uk-flex-middle" uk-grid>
                    <!-- Mobile Specific Project Image -->
                    <div class="uk-hidden@m">
                        <img src="../img/projects/curtin_gradshow_general/home.png"
                            alt="Curtin Digital Grad Show Home Screen Image" class="uk-card" uk-img>
                    </div>
                    <!-- Project Text -->
                    <div class="uk-width-1-2@m uk-width-2-5@l uk-animation-slide-left-medium">
                        <!-- Project Description -->
                        <h2 class="uk-heading">Graduation Show Website</h2>
                        <p class="uk-article-meta">
                            About
                        </p>
                        <p class="uk-article-lead uk-margin-medium-bottom">
                            The Curtin Grad Show website is a branded digital deliverable for the 2020 Curtin Design Grad Show. It's main purpose is to showcase the graduating students participating in the show.
                        </p>
                        <p class="uk-article-meta">
                            Primary Role
                        </p>
                        <p class="uk-article-lead uk-margin-medium-bottom">
                           For this project, I was the lead backend developer that focused on combining and synthesising
                           student data, ensuring that this data was in a format that the frontend development team can use. Furthermore, I assisted in some of the development of the frontend design.
                        </p>

                        <!-- Languages, Stacks and Frameworks -->
                        <p class="uk-article-meta">Languages and Technologies:</p>
                        <ul class="uk-iconnav">
                            <li><img src="../img/icons/nodejs.png" alt="NodeJS" uk-tooltip="title: NodeJS; pos: bottom"></li>
                            <li><img src="../img/icons/js.png" alt="JavaScript ES6" uk-tooltip="title: JavaScript ES6; pos: bottom"></li>
                            <li><img src="../img/icons/firebase.png" alt="Google Firebase" uk-tooltip="title: Google Firebase; pos: bottom"></li>
                            <li><img src="../img/icons/sass.png" alt="Sass" uk-tooltip="title: Sass; pos: bottom"></li>
                            <li><img src="../img/icons/nunjucks.png" alt="Nunjucks" uk-tooltip="title: Nunjucks; pos: bottom"></li>
                            <li><img src="../img/icons/webpack.png" alt="Webpack 4" uk-tooltip="title: Webpack 4; pos: bottom"></li>
                        </ul>

                        <!-- Buttons -->
                        <br class="uk-visible@l">
                        <p class="uk-article-meta">Links:</p>
                        <a href="https://curtindesign.com/" class="uk-button uk-button-primary uk-button-large uk-margin-small-bottom">View Live</a>
                        <a href="https://github.com/FrancisVillarba/2020-Curtin-DPD-GradShow" class="uk-button uk-button-danger uk-button-large uk-margin-small-bottom uk-margin-small-left@m">View Source</a>
                    </div>

                    <!-- Project Image (for everything else) -->
                    <div class="uk-visible@m uk-width-1-2@m uk-width-3-5@l uk-animation-slide-right-medium">
                        <img src="../img/projects/curtin_gradshow_general/home.png" alt="Curtin Digital Grad Show Home Screen Image" class="uk-card" uk-img>
                    </div>
                </div>
            </article>

            <hr class="uk-divider-icon">

            <!-- Section 2 -->
            <article class="uk-article uk-margin-medium-top uk-margin-large-bottom">
                <div class="uk-child-width-expands@s uk-flex-middle" uk-grid>
                    <!-- Screenshot -->
                    <div class="uk-width-1-2@m uk-width-3-5@l">
                        <div class="uk-card">
                            <img src="../img/projects/curtin_gradshow_general/firebase.png" alt="GitHub deployment checking">
                        </div>
                    </div>
                    <div class="uk-width-1-2@m uk-width-2-5@l">
                        <!-- Goals -->
                        <h2 class="uk-heading">Backend Development</h2>
                        <p class="uk-article-meta uk-margin-medium-top">
                            Backend development was my primary focus
                        </p>
                        <p class="uk-article-lead uk-margin-medium-bottom">
                           I wanted to make it easy for us, as the website development team, to handle, populate and update the Firebase Firestore Database in an automated fashion. By doing this, I gave the website development team more time to focus on the development of the frontend.
                        </p>

                        <h3 class="uk-heading-bullet">Goals</h3>
                        <ul class="uk-list uk-list-decimal">
                            <li>Create data schema</li>
                            <li>Parse google forms data</li>
                            <li>Combine multiple sources of student data</li>
                            <li>Automate population of database</li>
                            <li>Automate creation of json data for eleventy</li>
                        </ul>
                    </div>
                </div>

                <!-- TODO: What scripts did I make? (as an image grid) -->
                

                <!-- Video to showcase the database -->
                <p class="uk-article-meta uk-margin-medium-top uk-text-center">
                    Push Student Data - Milestone Video
                </p>
                <video src="../videos/curtin_db_push.mp4" loop muted playsinline uk-video="autoplay: inview"></video>

            </article>

            <hr class="uk-divider-icon">

            <!-- Section 3 -->
            <article class="uk-article uk-margin-medium-top">
                <div class="uk-child-width-expands@s uk-flex-middle" uk-grid>
                    <!-- Text Side -->
                    <div class="uk-width-1-2@m uk-width-2-5@l">
                        <!-- Other Tasks -->
                        <h2 class="uk-heading">Beyond Backend</h2>
                        <p class="uk-article-meta uk-margin-small-top">
                            Utilising my skills to assist in other areas of the project
                        </p>
                        <p class="uk-article-lead uk-margin-medium-bottom">
                            Beyond my focus on backend development, I also used my multidisciplinary skillset to optimise the development workflow, keep things organised and prevent regressions in code.
                        </p>

                        <!-- Other tasks dot points -->
                        <h3 class="uk-heading-bullet">Tasks:</h3>
                        <ul class="uk-list uk-list-decimal">
                            <li>Setup group repository on GitHub</li>
                            <li>Protect staging with pull merge requests</li>
                            <li>Vercel Integration for CI/CD</li>
                            <li>Project task management via Trello</li>
                            <li>Physical device testing</li>
                            <li>Image optimisations</li>
                        </ul>

                        <br>

                        <!-- Other tools used -->
                        <p class="uk-article-meta">Tools:</p>
                        <ul class="uk-iconnav">
                            <li><img src="../img/socials/github.svg" alt="GitHub" uk-tooltip="title: GitHub; pos: bottom"></li>
                            <li><img src="../img/tools/trello.png" alt="Trello" uk-tooltip="title: Trello; pos: bottom"></li>
                            <li><img src="../img/tools/vercel.png" alt="Vercel" uk-tooltip="title: Vercel; pos: bottom"></li>
                        </ul>
                    </div>

                    <!-- Screenshot / Image Side -->
                    <div class="uk-width-1-2@m uk-width-3-5@l">
                        <div class="uk-card">
                            <img src="../img/projects/curtin_gradshow_general/github.png" alt="GitHub deployment checking">
                        </div>
                    </div>
                </div>

                <!-- Trello Screenshot -->
                <div>
                    <p class="uk-article-meta uk-margin-medium-top uk-text-center">
                        Trello for Task Management
                    </p>
                    <img src="../img/projects/curtin_gradshow_general/trello.png" alt="Trello task management">
                </div>
            </article>

        </div>
    </section>
</div>