<div id="project-photography-assignment">
    <!-- Main Body Content -->
    <section class="uk-section">
        <div class="uk-container uk-container-expand">
            <!-- Header / Summary Section -->
            <article class="uk-article">
                <div class="uk-grid-row-large uk-flex-middle" uk-grid>
                    <!-- Mobile specific project image -->
                    <div class="uk-hidden@m">
                        <img src="../img/projects/photo_assignment/assignment_thumbnail_v2.jpg" alt="Photography Assignment Primary Image" uk-img>
                    </div>
                    <!-- Project Text -->
                    <div class="uk-width-1-2@m uk-width-2-5@l uk-animation-slide-left-medium">
                        <!-- Project Description -->
                        <h2 class="uk-heading">Photography Assignment</h2>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>