<div id="project-restaurant_system">
    <!-- Main Body Content -->
    <section class="uk-section">
        <div class="uk-container uk-container-expand">
            <!-- Header / Summary Section -->
            <article class="uk-article">
                <div class="uk-grid-row-large uk-flex-middle" uk-grid>
                    <!-- Project Image for Mobile Only -->
                    <div class="uk-hidden@m">
                        <img src="../img/projects/restaurant/restaurant_thumbnail.jpg" alt="Restaurant System Project Banner Image" class="uk-card" uk-img>
                    </div>
                    <!-- Project Introductory Text -->
                    <div class="uk-width-1-2@m uk-width-2-5@l uk-animation-slide-left-medium">
                    <h2 class="uk-heading">Full Stack Restaurant System</h2>
                    <p class="uk-article-meta">
                        Re-imagining the restaurant experience from the ground up!
                    </p>
                    <p class="uk-article-lead uk-margin-medium-bottom">
                        These days, restaurants rely on multiple pieces of software to handle different aspects of the business, from POS systems to kitchen displays, from static websites to in-store displays. However, these businesses are often stuck or reliant on out-of-date hardware and software as upgrades can often cause these systems to break due to incompatibility. This is where my project comes into play.
                    </p>
                    <p class="uk-article-lead uk-margin-medium-bottom">
                        The restaurant system is a full-stack JavaScript project that combines all these seperate pieces of software into a single cloud-centric package. By doing so, we create a system that is completely platform agnostic, allowing businesses to freely use whatever software and hardware they choose, so long as there is a browser and access to the internet.
                    </p>
                    <!-- Languages, Stacks and Frameworks -->
                    <p class="uk-article-meta">Languages and Technologies:</p>
                    <ul class="uk-iconnav">
                        <li><img src="../img/icons/nodejs.png" alt="NodeJS" uk-tooltip="title: NodeJS; pos: bottom"></li>
                        <li><img src="../img/icons/js.png" alt="JavaScript ES6" uk-tooltip="title: JavaScript ES6; pos: bottom"></li>
                        <li><img src="../img/icons/sass.png" alt="Sass" uk-tooltip="title: Sass; pos: bottom"></li>
                        <li><img src="../img/icons/bulma.png" alt="Bulma" uk-tooltip="title: Bulma; pos: bottom"></li>
                        <li><img src="../img/icons/mongodb.png" alt="MongoDB" uk-tooltip="title: MongoDB; pos: bottom"></li>
                        <li><img src="../img/icons/webpack.png" alt="Webpack 4" uk-tooltip="title: Webpack 4; pos: bottom"></li>
                        <li><img src="../img/icons/mustache.png" alt="Mustache" uk-tooltip="title: Mustache; pos: bottom"></li>
                    </ul>
                    <!-- Project Text and Links -->
                    <br class="uk-visible@l">
                    <p class="uk-article-meta">Links:</p>
                    <button class="uk-button uk-button-default uk-button-large uk-margin-small-bottom uk-margin-small-left@m" disabled>View Live</button>
                    <!-- TODO: Don't forget to live host this project -->
                    <a href="https://bitbucket.org/DreigonDragon/grde3014-a3/src/master/" class="uk-button uk-button-danger uk-button-large uk-margin-small-bottom uk-margin-small-left@m">View Source</a>
                    <a href="https://www.dropbox.com/s/fpd5y9men2ee9q5/VillarbaFrancis-18266997-a2.pdf?dl=0" class="uk-button uk-button-secondary uk-button-large uk-margin-small-bottom uk-margin-small-left@m">View Docs</a>
                    <p class="uk-article-lead">Live server coming soon!</p>

                </div>
                <!-- Project Image -->
                <div class="uk-visible@m uk-width-1-2@m uk-width-3-5@l uk-animation-slide-right-medium">
                    <img src="../img/projects/restaurant/restaurant_thumbnail.jpg" alt="Restaurant System Project Banner Image" class="uk-card" uk-img>
                </div>
            </article>
            
            <hr class="uk-divider-icon">
            
            <!-- TODO: Section 2 -->
            <article class="uk-article uk-margin-medium-top">
                <div class="uk-child-width-expands@s uk-flex-middle uk-grid-large" uk-grid>
                    <!-- Graphic -->
                    <div class="uk-width-1-2@m uk-width-3-5@l">
                        <img src="../img/projects/restaurant/technical_overview_bds.png" alt="Restaurant System - Backend Database System - Technical Specifications Visual Overview Graphic" class="uk-card uk-card-default" uk-img>
                    </div>
                    <!-- Text -->
                    <div class="uk-width-1-2@m uk-width-2-5@l">
                        <h2 class="uk-heading">Technical Overview</h2>
                        <p class="uk-article-lead">The restaurant system is a Full-Stack JavaScript System that is comprised of a comprehensive single page application (SPA) for the front-end and a multi-layered backend data service (BDS).</p>
                        <p class="uk-article-lead">The backend data service (BDS) features a Node.js server (Hosted in Digital Ocean) to provide an CRUD functionality, using the RESTful API architectural style. Meanwhile, the database features a seperately hosted Node.js server (On EvenNode).</p>
                        <p class="uk-article-lead">The multi-layered approach to the backend data service (BDS) is based on the "Seperation of Concerns Design" principle. By using this approach, this allows for the freedom and flexibility to scale, upgrade, resize and modify each individual aspect of the BDS without fear of breaking as, each section is encapsulated, discrete and modular.</p>
                    </div>
                </div>
            </article>
            
            <hr class="uk-divider-icon">
            
            <!-- TODO: Section 3 -->
            <article class="uk-article uk-margin-medium-top">
                <h2 class="uk-heading">Menu Experience</h2>
                <p>Information Coming Soon!</p>
            </article>
            
            <hr class="uk-divider-icon">
            
            <!-- TODO: Section 4 -->
            <article class="uk-article uk-margin-medium-top">
                <h2 class="uk-heading">POS UI & UX</h2>
                <p>Information Coming Soon!</p>
            </article>
        </div>
    </section>

</div>