<div id="project-sargent-tours">
    <!-- Main Body Content -->
    <section class="uk-section">
        <div class="uk-container uk-container-expand">

            <!-- Header / Summary Section -->
            <article class="uk-article">
                <div class="uk-flex-middle" uk-grid>
                    <!-- Project Image -->
                    <div class="uk-hidden@m">
                        <img class="uk-card" src="../img/projects/sargent_tours/tours_thumbnail.jpg" alt="Sargent Tours Project Banner Image" uk-img>
                    </div>
                    <!-- Project Text -->
                    <div class="uk-width-1-2@m uk-width-2-5@l uk-animation-slide-left-medium">
                        <h2 class="uk-heading">Full Stack Tourism Website</h2>
                        <p class="uk-article-lead uk-margin-medium-bottom">Sargent Tours is a small-business that focuses on backpacker tours around Western Australia. This project features a full-stack SPA that is hosted on Linode and is currently ongoing with features being added as the Sargent Tours grows.</p>
        
                        <!-- Languages, Stacks and Frameworks -->
                        <p class="uk-article-meta">Languages and Technologies:</p>
                        <ul class="uk-iconnav">
                            <li><img src="../img/icons/nodejs.png" alt="NodeJS" uk-tooltip="title: NodeJS; pos: bottom"></li>
                            <li><img src="../img/icons/js.png" alt="JavaScript" uk-tooltip="title: JavaScript; pos: bottom"></li>
                            <li><img src="../img/icons/sass.png" alt="Sass" uk-tooltip="title: Sass; pos: bottom"></li>
                            <li><img src="../img/icons/bulma.png" alt="Bulma" uk-tooltip="title: Bulma; pos: bottom"></li>
                            <li><img src="../img/icons/webpack.png" alt="Webpack 4" uk-tooltip="title: Webpack 4; pos: bottom"></li>
                            <li><img src="../img/icons/mustache.png" alt="Mustache" uk-tooltip="title: Mustache; pos: bottom"></li>
                        </ul>

                        <!-- Buttons -->
                        <br class="uk-visible@l">
                        <p class="uk-article-meta">Links:</p>
                        <a href="http://sargenttours.com.au" class="uk-button uk-button-primary uk-button-large uk-margin-small-bottom">View Live</a>
                        <button class="uk-button uk-button-default uk-button-large uk-margin-small-bottom uk-margin-small-left@m" disabled>Closed Source</button>
                    </div>
                    <!-- Project Image -->
                    <div class="uk-visible@m uk-width-1-2@m uk-width-3-5@l uk-animation-slide-right-medium">
                        <img class="uk-card" src="../img/projects/sargent_tours/tours_thumbnail.jpg" alt="Sargent Tours Project Banner Image" uk-img>
                    </div>
                </div>
            </article>

            <hr class="uk-divider-icon">

            <!-- Section 2 -->
            <article class="uk-article uk-margin-medium-top">
                <div class="uk-child-width-expand@s uk-flex-middle" uk-grid>
                    <div class="uk-width-1-2@m uk-width-2-3@l">
                        <div class="uk-card">
                            <img src="../img/projects/sargent_tours/home.jpg" alt="Sargent Tours Homepage Screenshot" uk-img>
                        </div>
                    </div>
                    <div>
                        <!-- Overall Goals -->
                        <h2 class="uk-heading">Overall Goals</h2>
                        <ul class="uk-list uk-list-decimal">
                            <li>Generate interest in WA Tourism</li>
                            <li>Have an online booking system</li>
                            <li>Catalogue the previous tours in galleries</li>
                            <li>Auto Image optimisation of gallery images</li>
                            <li>Translations into other languages</li>
                        </ul>

                        <!-- In Progress -->
                        <h3 class="uk-heading-bullet">In progress</h3>
                        <ul class="uk-list uk-list-decimal">
                            <li>Client side PDF generation of booking</li>
                            <li>Automatic email confirmation of booking</li>
                            <li>HTTPS & SSL Certificates</li>
                        </ul>

                        <!-- Near Future Goals -->
                        <h3 class="uk-heading-bullet">Coming Soon</h3>
                        <ul class="uk-list uk-list-decimal uk-margin-large-bottom">
                            <li>NoSQL Database via MongoDB and augmented using Mongoose</li>
                            <li>Image gallery using Express & Mustache</li>
                            <li>Analytics via Google Analytics</li>
                        </ul>

                    </div>
                </div>
            </article>

            <hr class="uk-divider-icon">

            <!-- Section 3 -->
            <article class="uk-article uk-margin-large-top">
                <div class="uk-child-width-expand@s uk-flex-middle" uk-grid>
                    <!-- Image / Graphic for Mobile -->
                    <div class="uk-hidden@m uk-card uk-width-1-1">
                        <img src="../img/projects/sargent_tours/booking.jpg" alt="Sargent Tours Gallery Screenshot" uk-img>
                    </div>
                    <!-- Text -->
                    <div>
                        <h2 class="uk-heading">Booking Form</h2>
                        <p>The booking form was my proudest achievement for the project as it was the most challenging aspect of the project due to its complexity and requirements.</p>

                        <h3 class="uk-heading-bullet">Features</h3>
                        <ul class="uk-list uk-list-disc">
                            <li>Form Input Validation</li>
                            <li>Enhanced Telephone Input Field</li>
                            <li>Enhanced Date Picker</li>
                            <li>Attendee Creation and Preview</li>
                            <li>Booking Emailed to Sargent Tours</li>
                            <li>Booking Preview System (Preview before confirm)</li>
                        </ul>

                        <h3 class="uk-heading-bullet">Upcoming Features</h3>
                        <ul class="uk-list uk-list-decimal">
                            <li>Client-Side PDF Generation of Booking</li>
                            <li>Serverless Booking Communication via EmailJS</li>
                        </ul>
                    </div>
                    <!-- Image / Graphic -->
                    <div class="uk-visible@m uk-card uk-width-1-2@m uk-width-2-3@l">
                        <img src="../img/projects/sargent_tours/booking.jpg" alt="Sargent Tours Gallery Screenshot" uk-img>
                    </div>
                </div>
                <!-- Image Grid Gallery for booking form features -->
                <h2 class="uk-heading-bullet">Feature Screenshots</h2>
                <div class="uk-child-width-1-2@s uk-child-width-1-3@l uk-grid-column-medium" uk-grid="masonry: true">
                    <div>
                        <img src="../img/projects/sargent_tours/booking_p-number.jpg" alt="Enhanced Phone Number Input" uk-img>
                        <p class="uk-article-meta uk-text-center">Enhanced Phone Number Input</p>
                    </div>
                    <div>
                        <img src="../img/projects/sargent_tours/booking_attendee-mgmt.jpg" alt="Attendee Creation System" uk-img>
                        <p class="uk-article-meta uk-text-center">Attendee Creation System</p>
                    </div>
                    <div>
                        <img src="../img/projects/sargent_tours/booking_attendee-preview.jpg" alt="Attendee Preview" uk-img>
                        <p class="uk-article-meta uk-text-center">Attendee Preview</p>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>